var jade = require("/Users/aztack/Github/cocos-creator-devtool/node_modules/jade/lib/runtime.js");

module.exports = function template(locals) {
var buf = [];
var jade_mixins = {};
var jade_interp;

buf.push("<!DOCTYPE html><html><head><meta content=\"charset=utf-8\"></head><body><h1>Popup</h1></body></html>");;return buf.join("");
}