@import '../_base.styl'

@font-face
  font-family: "Roboto-thin"
  src: url('/static/fonts/roboto-thin-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto-light"
  src: url('/static/fonts/roboto-light-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto-regular"
  src: url('/static/fonts/roboto-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

html
  min-height: 100%

.clear-fix:after
  content: ''
  display: block
  height: 0
  clear: both

button
  outline: none

a
  text-decoration: none

[v-cloak]
  display: none !important

