@import '~nib/lib/nib/reset.styl'

global-reset()
reset-html5()

body
  font-size: 14px
  font-family: "Roboto", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-weight: normal
  -webkit-font-smoothing: antialiased
*
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0,0,0,0) // android no highlight

*:before, *:after
  box-sizing: border-box

.root-container
  margin: 0 auto

[v-cloak]
  display: none
.clear-fix:before,
.clear-fix:after
  content: ''
  display: table
  clear: both
